@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    z-index: 999;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 46, 46);
    width: 100%;
    align-items: center;
    padding: 15px 200px;


}

.logo {
    text-decoration: none;
    color: blanchedalmond;
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 700;
}

.navigation a {
    text-decoration: none;
    color: blanchedalmond;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 500;
    padding: 30px;
}

.navigation a:hover {
    color: #157788;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../image/background.jpg) no-repeat;
    background-size: cover;
}

.main h2 {
    color: rgb(255, 46, 46);
    font-size: 1.3em;
    font-weight: 500;
}

.main span {
    display: inline-block;
    color: #157788;
    font-size: 3.3em;
    font-weight: 900;
}

.main h3 {
    color: rgb(255, 46, 46);
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: white;
    background-color: #157788;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.5s ease;
}

.main-btn:hover {
    background-color: #33c4dd;
    transform: scale(1.1);
}



.title2 {
    display: flex;
    justify-content: center;
    color: #33c4dd;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;

}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(240, 240, 240);
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;

}



.card:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
    color: rgb(255, 46, 46);
}



.icon {
    color: rgb(255, 46, 46);
    font-size: 8em;
    text-align: center;

}

.info {
    text-align: center;
}

.info h3 {
    color: rgb(255, 46, 46);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects{
    background-color: rgb(255, 46, 46);
}

.title1{
    display: flex;
    justify-content: center;
    color: blanchedalmond;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;

}

.projects .content{
    margin-top: 30px;
}

.project-card{
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15);
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7 ease;
}

.project-card:hover{
    transform: scale(1.1);
}

.project-card:hover .project-image{
    opacity: 0.9;
}

.project-image img{
width: 100%;
}

.project-info{
    padding: 1em;
    justify-content: space-between;
    text-align: center;
}

.project-category{
    font-size: 0.8em;
    color: black;
}

.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 1.1em;
    flex-direction: column;
    font-weight: bold;
}

.more-details{
    text-decoration: none;
    color: rgb(0, 30, 255);
}

.more-details:hover{
    color: blueviolet; 
}

span .project-title{
    text-align: center;
    width: 700;
}

.footer{
    z-index: 999;
    display: flex;
    justify-content: space-between;
    background-color: rgb(73, 70, 70);
    width: 100%;
    align-items: center;
    padding: 15px 200px;
    color:  blanchedalmond;
}

.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span{
    color: rgb(255, 46, 46);
}
